# Crappy Keystone Credentials
export KEYSTONE_USER=''
export KEYSTONE_PASS=''

# Shopify API
export SHOPIFY_SHOP_NAME=''
export SHOPIFY_API_KEY='' 
export SHOPIFY_PASSWORD=''

export FLASK_APP=backend.py
